/* Buttons */

/* Reset buttons */

button {
    margin: 0;
    padding: 0;
}

.btn {
    padding: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #FFF;
    cursor: pointer;
    transition: all 200ms ease-in-out 150ms;
}

.btn:hover {
    transform: scale(0.8);
}