.footer {
    height: auto;
    background-color: var(--bg-dark);
    color: var(--font-white);
    padding: 2.5rem;
    margin-top: 2rem;
}

.footer-principal {
    display: grid;
    grid-template-rows: 25%, 50%, 25%;
    gap: 3rem;
    align-items: center;
    justify-items: center;
}

.footer-opciones {
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding: 1rem 0;
    width: 100%;
}

.footer-navegacion {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.5rem;
}

.footer-final {
    display: flex;
    gap: 2rem;
    font-size: 1.5rem;
}