.footer {
    height: auto;
    background-color: var(--bg-dark);
    color: var(--font-white);
    padding: 2rem 0;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.footer-principal {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer-opciones {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    padding: 1rem 0;
    width: 100%;
}

.footer-navegacion {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.8rem;
}

.footer-final {
    display: flex;
    gap: 2rem;
    font-size: 1.8rem;
    justify-content: center;
}